.single {
  &__pagenation {
    padding: 1.5em 0;
    background: #F6F6F8;

    .txt {
      font-size: 14.5px;

      span {
        color: #878787;
      }
    }
  }

  &__inner {
    padding: 3em 0;
  }

  &__imgs {
    &-active {
      margin-right: 1em;

      img {
        width: 85px;
        height: 90px;
        display: block;
        margin-bottom: 1em;
        cursor: pointer;
      }

      .active {
        border: 1px solid #333;
      }
    }

    &-slide {
      position: relative;
      width: 480px;
      height: 500px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      &:hover .arrows {
        opacity: 1;
      }

      .img {
        width: 100%;
        transition: transform 0.4s ease;
      }

      .arrows {
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;

        button {
          font-size: 70px;
          padding: 0 24px;
          color: #333;
        }
      }
    }
  }
  .desc {

    &__btn {
      margin-bottom: 20px;
    }

    &__txt {
      max-width: 450px;
      font-weight: 700;
      font-size: 17px;
      margin-bottom: 20px;
      color: #222;

      span {
        color: #6bad0b;
      }
    }

    &__under {
      text-decoration: line-through;
      margin-right: 10px;
    }

    &__sale {
      font-weight: 700;
      font-size: 28px;
      color: #f76b6a;
    }

    &__visas {
      width: 465px;
      padding-bottom: 1em;
      margin-bottom: 20px;
      border-bottom: 1px solid #eee;
    }

    &__social {
      span {
        font-weight: 700;
        margin-right: 4em;
        color: #444;
      }

      &-list {
        gap: 14px;

        i {
          font-size: 20px;
          color: #666;
          transition: color 0.3s ease;
          cursor: pointer;

          &:hover {
            color: #6bad0b;
          }
        }
      }
    }
  }

  &__wrapper {
    h2 {
      font-size: 34px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .seller {
    margin-bottom: 30px;
  }
}